# =========================
# 📦 BUILD
# =========================
target/

# =========================
# 📦 JARS
# =========================
*.jar

# ✅ EXCEPTION (IMPORTANT)
!libs/QuickShop-Hikari.jar

# =========================
# 💻 IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# 🖥️ OS
# =========================
.DS_Store
Thumbs.db