# =========================
# 📦 BUILD
# =========================
target/

# =========================
# 📦 JARS
# =========================
*.jar

# 🔥 AUTORISER LE DOSSIER LIBS
!libs/
!libs/*.jar

# 🔥 EXCEPTION QUICKSHOP